.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
.idea
.idea/*
lib/tasks/data/
lib/tasks/data/*.yml
db/schema.rb
uploads
uploads/*
public/assets
public/assets/*
forms
forms/*
reports/*.html
reports/*.xls
reports/completions/*
Gemfile.lock
nohup.out
