
.ui-tooltip, .qtip {
    display: none;
    font-size: 10.5px;
    left: -28000px;
    line-height: 12px;
    max-width: 280px;
    min-width: 50px;
    position: absolute;
    top: -28000px;
}
.ui-tooltip-fluid {
    display: block;
    float: left !important;
    position: static !important;
    visibility: hidden;
}
.ui-tooltip-content {
    border: 1px solid #000001;
    overflow: hidden;
    padding: 5px 9px;
    position: relative;
    text-align: left;
    word-wrap: break-word;
}
.ui-tooltip-titlebar {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #000001;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 0;
    font-weight: bold;
    min-height: 14px;
    overflow: hidden;
    padding: 5px 35px 5px 10px;
    position: relative;
}
.ui-tooltip-titlebar + .ui-tooltip-content {
    border-top-width: 0 !important;
}
.ui-tooltip-titlebar .ui-state-default {
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    margin-top: -9px;
    outline: medium none;
    position: absolute;
    right: 4px;
    top: 50%;
}
* html .ui-tooltip-titlebar .ui-state-default {
    top: 16px;
}
.ui-tooltip-titlebar .ui-icon, .ui-tooltip-icon .ui-icon {
    display: block;
    text-indent: -1000em;
}
.ui-tooltip-icon, .ui-tooltip-icon .ui-icon {
    border-radius: 3px 3px 3px 3px;
}
.ui-tooltip-icon .ui-icon {
    background: none no-repeat scroll -100em -100em transparent;
    color: inherit;
    font: bold 10px/13px Tahoma,sans-serif;
    height: 14px;
    text-align: center;
    text-indent: 0;
    width: 18px;
}
.ui-tooltip-default .ui-tooltip-titlebar, .ui-tooltip-default .ui-tooltip-content {
    background-color: #FFFFA3;
    border-color: #F1D031;
    color: #555555;
}
.ui-tooltip-default .ui-tooltip-titlebar {
    background-color: #FFEF93;
}
.ui-tooltip-default .ui-tooltip-icon {
    background: none repeat scroll 0 0 #F1F1F1;
    border-color: #CCCCCC;
    color: #777777;
}
.ui-tooltip-default .ui-tooltip-titlebar .ui-state-hover {
    border-color: #AAAAAA;
    color: #111111;
}
.ui-tooltip .ui-tooltip-tip {
    margin: 0 auto;
    overflow: hidden;
    z-index: 10;
}
.ui-tooltip .ui-tooltip-tip, .ui-tooltip .ui-tooltip-tip * {
    background: none repeat scroll 0 0 transparent;
    border: 0 dashed transparent;
    color: #123456;
    font-size: 0.1px !important;
    line-height: 0.1px !important;
    position: absolute;
}
.ui-tooltip .ui-tooltip-tip canvas {
    left: 0;
    top: 0;
}
#qtip-overlay {
    left: -10000em;
    position: fixed;
    top: -10000em;
}
#qtip-overlay.blurs {
    cursor: pointer;
}
#qtip-overlay div {
    background-color: black;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
}
.ui-tooltip-light .ui-tooltip-titlebar, .ui-tooltip-light .ui-tooltip-content {
    border-color: #E2E2E2;
    color: #454545;
}
.ui-tooltip-light .ui-tooltip-content {
    background-color: white;
}
.ui-tooltip-light .ui-tooltip-titlebar {
    background-color: #F1F1F1;
}
.ui-tooltip-dark .ui-tooltip-titlebar, .ui-tooltip-dark .ui-tooltip-content {
    border-color: #303030;
    color: #F3F3F3;
}
.ui-tooltip-dark .ui-tooltip-content {
    background-color: #505050;
}
.ui-tooltip-dark .ui-tooltip-titlebar {
    background-color: #404040;
}
.ui-tooltip-dark .ui-tooltip-icon {
    border-color: #444444;
}
.ui-tooltip-dark .ui-tooltip-titlebar .ui-state-hover {
    border-color: #303030;
}
.ui-tooltip-cream .ui-tooltip-titlebar, .ui-tooltip-cream .ui-tooltip-content {
    border-color: #F9E98E;
    color: #A27D35;
}
.ui-tooltip-cream .ui-tooltip-content {
    background-color: #FBF7AA;
}
.ui-tooltip-cream .ui-tooltip-titlebar {
    background-color: #F0DE7D;
}
.ui-tooltip-cream .ui-state-default .ui-tooltip-icon {
    background-position: -82px 0;
}
.ui-tooltip-red .ui-tooltip-titlebar, .ui-tooltip-red .ui-tooltip-content {
    border-color: #D95252;
    color: #912323;
}
.ui-tooltip-red .ui-tooltip-content {
    background-color: #F78B83;
}
.ui-tooltip-red .ui-tooltip-titlebar {
    background-color: #F06D65;
}
.ui-tooltip-red .ui-state-default .ui-tooltip-icon {
    background-position: -102px 0;
}
.ui-tooltip-red .ui-tooltip-icon {
    border-color: #D95252;
}
.ui-tooltip-red .ui-tooltip-titlebar .ui-state-hover {
    border-color: #D95252;
}
.ui-tooltip-green .ui-tooltip-titlebar, .ui-tooltip-green .ui-tooltip-content {
    border-color: #90D93F;
    color: #3F6219;
}
.ui-tooltip-green .ui-tooltip-content {
    background-color: #CAED9E;
}
.ui-tooltip-green .ui-tooltip-titlebar {
    background-color: #B0DE78;
}
.ui-tooltip-green .ui-state-default .ui-tooltip-icon {
    background-position: -42px 0;
}
.ui-tooltip-blue .ui-tooltip-titlebar, .ui-tooltip-blue .ui-tooltip-content {
    border-color: #ADD9ED;
    color: #5E99BD;
}
.ui-tooltip-blue .ui-tooltip-content {
    background-color: #E5F6FE;
}
.ui-tooltip-blue .ui-tooltip-titlebar {
    background-color: #D0E9F5;
}
.ui-tooltip-blue .ui-state-default .ui-tooltip-icon {
    background-position: -2px 0;
}
.ui-tooltip-shadow {
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
}
.ui-tooltip-shadow .ui-tooltip-titlebar, .ui-tooltip-shadow .ui-tooltip-content {
}
.ui-tooltip-rounded, .ui-tooltip-rounded .ui-tooltip-content, .ui-tooltip-tipsy, .ui-tooltip-tipsy .ui-tooltip-content, .ui-tooltip-youtube, .ui-tooltip-youtube .ui-tooltip-content {
    border-radius: 4px 4px 4px 4px;
}
.ui-tooltip-rounded .ui-tooltip-titlebar, .ui-tooltip-tipsy .ui-tooltip-titlebar, .ui-tooltip-youtube .ui-tooltip-titlebar {
    border-radius: 5px 5px 0 0;
}
.ui-tooltip-rounded .ui-tooltip-titlebar + .ui-tooltip-content, .ui-tooltip-tipsy .ui-tooltip-titlebar + .ui-tooltip-content, .ui-tooltip-youtube .ui-tooltip-titlebar + .ui-tooltip-content {
    border-radius: 0 0 5px 5px;
}
.ui-tooltip-youtube {
    box-shadow: 0 0 3px #333333;
}
.ui-tooltip-youtube .ui-tooltip-titlebar, .ui-tooltip-youtube .ui-tooltip-content {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.85);
    border-color: #CCCCCC;
    color: white;
}
.ui-tooltip-youtube .ui-tooltip-icon {
    border-color: #222222;
}
.ui-tooltip-youtube .ui-tooltip-titlebar .ui-state-hover {
    border-color: #303030;
}
.ui-tooltip-jtools {
    background: -moz-linear-gradient(center top , #717171, #232323) repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    border: 2px solid #F1F1F1;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 12px #333333;
}
.ui-tooltip-jtools .ui-tooltip-titlebar {
}
.ui-tooltip-jtools .ui-tooltip-content {
}
.ui-tooltip-jtools .ui-tooltip-titlebar, .ui-tooltip-jtools .ui-tooltip-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 dashed transparent;
    color: white;
}
.ui-tooltip-jtools .ui-tooltip-icon {
    border-color: #555555;
}
.ui-tooltip-jtools .ui-tooltip-titlebar .ui-state-hover {
    border-color: #333333;
}
.ui-tooltip-cluetip {
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
}
.ui-tooltip-cluetip .ui-tooltip-titlebar {
    background-color: #87876A;
    border: 0 dashed transparent;
    color: white;
}
.ui-tooltip-cluetip .ui-tooltip-content {
    background-color: #D9D9C2;
    border: 0 dashed transparent;
    color: #111111;
}
.ui-tooltip-cluetip .ui-tooltip-icon {
    border-color: #808064;
}
.ui-tooltip-cluetip .ui-tooltip-titlebar .ui-state-hover {
    border-color: #696952;
    color: #696952;
}
.ui-tooltip-tipsy {
    border: 0 none;
}
.ui-tooltip-tipsy .ui-tooltip-titlebar, .ui-tooltip-tipsy .ui-tooltip-content {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.87);
    border: 0 none transparent;
    color: white;
    font-family: 'Lucida Grande',sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    text-shadow: 0 1px black;
}
.ui-tooltip-tipsy .ui-tooltip-titlebar {
}
.ui-tooltip-tipsy .ui-tooltip-content {
}
.ui-tooltip-tipsy .ui-tooltip-icon {
    border-color: #222222;
    text-shadow: none;
}
.ui-tooltip-tipsy .ui-tooltip-titlebar .ui-state-hover {
    border-color: #303030;
}
.ui-tooltip-tipped .ui-tooltip-titlebar, .ui-tooltip-tipped .ui-tooltip-content {
    border: 3px solid #959FA9;
    filter: none;
}
.ui-tooltip-tipped .ui-tooltip-titlebar {
    background: -moz-linear-gradient(center top , #3A79B8, #2E629D) repeat scroll 0 0 #3A79B8;
    border-bottom-width: 0;
    border-radius: 3px 3px 0 0;
    color: white;
    font-family: serif;
    font-weight: normal;
}
.ui-tooltip-tipped .ui-tooltip-content {
    background-color: #F9F9F9;
    border-radius: 0 0 3px 3px;
    color: #454545;
}
.ui-tooltip-tipped .ui-tooltip-icon {
    background: none repeat scroll 0 0 #285589;
    border: 2px solid #285589;
}
.ui-tooltip-tipped .ui-tooltip-icon .ui-icon {
    background-color: #FBFBFB;
    color: #555555;
}
.ui-tooltip:not(.ie9haxors) div.ui-tooltip-content, .ui-tooltip:not(.ie9haxors) div.ui-tooltip-titlebar {
    filter: none;
}
body {
    background-color: #F8F8F8;
    color: #4C4C4C;
    font-family: Tahoma;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
}
body.internal {
    background-color: white;
    font-size: 1em;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.footer {
    position: relative;
    text-align: center;
    width: 100%;
}
table.resource_index {
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
}
table.resource_index tr {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
table.resource_index td, table.resource_index th {
    border: 1px solid black;
    padding: 1px 3px;
}
table.resource_index th {
    background: none repeat scroll 0 0 #B8B8B8;
    cursor: pointer;
}
table.resource_index .even {
    background: none repeat scroll 0 0 #B1B3ED;
}
table.resource_index .inactive {
    background: none repeat scroll 0 0 #D4A3AA;
}
.new_resource {
    margin: 10px 0;
}
.menu_bar {
    padding: 0 0 20px;
    width: 100%;
}
.menu_image {
    position: relative;
    text-align: center;
    width: 100%;
}
.menu_links {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    position: relative;
    text-align: center;
}
.menu_links a {
    margin-left: 10px;
    margin-right: 10px;
}
.questions_container {
    float: left;
    position: relative;
    width: 100%;
}
.questions {
    border: 1px solid black;
    float: left;
    margin-right: 1%;
    min-height: 100px;
}
.questions_origin {
    border: 1px solid black;
    float: right;
    margin-left: 1%;
    min-height: 100px;
}
.width2 {
    width: 48%;
}
.width3 {
    width: 30%;
}
.question_row {
    background: none repeat scroll 0 0 #EBEBEB;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    cursor: pointer;
    padding: 2px;
    position: relative;
}
.filter {
    padding: 0 10px;
}
.filter_block {
    background: none repeat scroll 0 0 white;
    border: 1px solid #DCDCDC;
    padding: 10px;
    width: 100%;
    float: left;
}
.filter_positions, .filter_states, .filter_countries, .filter_all_positions {
    color: #1F1D5B;
}
.filter_positions a:hover, .filter_states a:hover, .filter_countries a:hover, .filter_all_positions a:hover {
    color: #b71e24;
}
.filter_positions a, .filter_states a, .filter_countries a, .filter_all_positions a {
    color: #8F8F8F;
    text-decoration: none;
}
.filter_header {
    color: #1F1D5B;
    font-size: 20px;
    font-family: calibri;
    font-weight: bold;
    border-bottom: 1px solid #8f8f8f;
    padding: 0px 0px 5px 0px;
    margin: -2px 0px 6px 0px;
}
.filter_header, .filter_positions, .filter_states, .filter_countries, .filter_all_positions {
    line-height: 20px;
    text-align: center;
    width: 100%;
}
.openings_table {
    background: none repeat scroll 0 0 white !important;
    border: 1px solid #DCDCDC;
    margin: 50px auto;
    padding: 10px;
    position: relative;
    width: 100%;
    float: left;
}
.openings_header {
    border-bottom: 1px solid #8F8F8F;
    font-family: calibri;
    font-size: 20px;
    margin-bottom: 5px;
    position: relative;
    text-decoration: none !important;
}
.openings_title a:hover {
    color: #B71E24;
}
.openings_header div {
    color: #1F1D5B !important;
    cursor: pointer;
    font-weight: bold;
    margin: -2px 0 3px;
    text-decoration: none !important;
}
.openings_header div:hover {
    color: #B71E24 !important;
}
.openings_title a {
    color: #8F8F8F;
    font-weight: lighter;
    text-decoration: none;
}
.openings_title {
    margin-right: 400px;
    position: relative;
}
.openings_location {
    position: absolute;
    right: 200px;
    top: 0;
    width: 200px;
}
.openings_time_type {
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
}
.openings_row {
    position: relative;
}
.openings_row div {
    padding: 4px;
}
.not_present_notice {
    font-style: italic;
    text-align: center;
}
.high_priority {
    color: red;
}
.header_text {
    color: red;
    font-weight: bold;
}
.header_image {
    text-align: center;
    width: 100%;
}
.submission {
    border: medium none;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.submission td {
    border: medium none;
    padding: 4px;
}
.submission_bio_prompt {
    font-weight: bold;
    text-align: right;
    width: 50%;
}
.submission_answer {
    text-align: left;
    width: 50%;
}

.submission_answer input, .submission_answer select {
  font-size: 13px;
  font-family: Tahoma;
}

.spacer {
    height: 20px;
}
.submission_prompt {
    text-align: right;
    width: 50%;
}
.med_text_box {
    height: 62px;
    width: 200px;
    font-size: 13px;
    font-family: Tahoma;
}
.fullwidth {
    text-align: center;
}
#hidden_where_sourced {
    display: none;
}
.notice {
    color: green;
}
.alert {
    color: red;
}
.separator {
    background-color: black;
}
.submission_answers {
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
}
.front_page_image {
    float: right;
    width: auto;
    height: auto;
    margin: 50px 50px 50px 0px;
}
.front_page_image img {
    width: 200px;
    height: 48px;
    float: right;
}
.current_tags {
    border: 1px solid black;
    float: left;
    min-height: 100px;
    padding: 2px;
    top: 0;
    width: 48%;
}
.potential_tags {
    border: 1px solid black;
    float: left;
    margin-left: 10px;
    min-height: 100px;
    padding: 2px;
    top: 0;
    width: 48%;
}
.tag_editing {
    float: left;
    width: 100%;
}
.float_clear {
    clear: both;
}
.dfr_header {
    border-top: 1px solid black;
    margin-top: 5px;
    padding-top: 5px;
}
.data_content {
    display: none;
}
.overlay {
    background-color: rgba(1, 1, 1, 0.8);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.overlay_block {
    background-color: white;
    height: 240px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    top: 200px;
    width: 300px;
}
table.new_hire_requests {
    border: 2px solid black;
    border-collapse: collapse;
    margin-bottom: 50px;
    margin-top: 10px;
    width: 100%;
}
table.new_hire_requests th {
    background-color: #B8B8B8;
}
table.new_hire_requests td {
    border-top: 1px solid black;
}
.prompt_box {
    height: 145px;
    margin-top: 10px;
    position: relative;
    width: 90%;
}
.needed {
    color: red;
}
.hidden {
    display: none;
}
.left_report {
    left: 0;
    position: absolute;
    top: 0;
    width: 200px;
}
.right_report {
    margin-left: 200px;
    min-height: 100px;
    position: relative;
    right: 0;
    top: 0;
}
.report_legend {
    display: none;
}
.report_legend_table {
    border: medium none;
    border-collapse: collapse;
    width: 100%;
}
.report_legend_table td {
    border: medium none;
    width: 20%;
}
.report_results table {
    border-collapse: collapse;
    width: 100%;
}
#report_fields .report_addition {
    margin-top: 10px;
}
form textarea {
    width: 80%;
}
.report_filter_indiv_container {
    border: 2px solid black;
    padding: 5px;
}
.report_filter_indiv_container .report_addition {
    border-bottom: 1px solid black;
    margin: 5px 0;
    padding-bottom: 5px;
}
.add_report_group_link {
    margin: 5px 0;
}
.report_update_button {
    margin: 5px 0;
}
.new_report_field_link {
    margin: 5px 0;
}
.header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.submission_users {
    margin-bottom: 10px;
    margin-top: 10px;
}
.notification_email_block {
    border: 2px solid black;
    width: 100%;
}
hr {
    margin-bottom: 15px;
    margin-top: 15px;
}
.footer a {
    margin-left: 10px;
    margin-right: 10px;
}
.resource_name {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}
.applied_for {
    margin-top: 10px;
}
.applied_for table {
    border: 2px solid black;
}
.applied_for td, .applied_for th {
    border: 1px solid black;
}
.tag_in_submission {
    text-indent: 10px;
}
.filtering .filtering_row {
    position: relative;
}
.filtering .filtering_row .filter_name {
    left: 0;
    position: absolute;
    top: 0;
    width: 100px;
}
.filtering .filtering_row .filter_inputs {
    margin-left: 100px;
    position: relative;
}
#token_header {
    cursor: pointer;
}
#TopMenuWrap {
    height: 50px;
    width: 100%;
}
#TopMenuContent {
    height: 50px;
    margin: 0 auto;
    width: 940px;
}
#TopMenuLinks {
    color: #9E9E9E;
    float: right;
    font: 8pt Arial !important;
    margin: 5px 17px;
}
#TopMenuLinks a {
    color: #9E9E9E;
    font: 8pt Arial !important;
    padding: 0 4px;
    text-decoration: none;
}
#TopMenuLinks a:hover {
    color: #BA282D;
}
#HeaderWrap {
    height: 115px;
    width: 100%;
}
#HeaderContent {
    background-image: url("/assets/TopMenuGradient-49be8f2d6e6373d7c2d9e2ff2369b883.jpg");
    background-repeat: repeat-x;
    border: 1px solid #F0F0F2;
    height: 115px;
    margin: 0 auto;
    width: 940px;
}
.VAElogo {
    background-image: url("/assets/VAElogo-2a7cb30d216f432995cf96b5c11f2937.png");
    cursor: pointer;
    float: left;
    height: 85px;
    margin: 14px 0 0 16px;
    width: 283px;
}
.VAElogo:hover {
    opacity: 0.7;
}
#MenuWrap {
    height: 36px;
    width: 100%;
}
#MenuContent {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-image: url("/assets/MenuGradient-1cffa56a6ead05ab12fc0ab1a0177b7a.jpg");
    background-repeat: repeat-x;
    border-color: #C2C2D3 #F0F0F2 #F0F0F2;
    border-image: none;
    border-right: 1px solid #F0F0F2;
    border-style: solid;
    border-width: 1px;
    height: 36px;
    margin: 0 auto;
    max-width: 940px;
    width: 940px;
}
#MenuCenter {
    float: left;
    height: 35px;
    margin: 0 auto 0 -3px !important;
    width: auto !important;
}
#MainContentWrap {
    height: auto;
    width: 100%;
}
#MainContentDiv {
    height: auto;
    margin: 20px auto 0;
    width: 900px;
}
#FooterWrap {
    height: auto;
    width: 100%;
}
#FooterContent {
    height: auto;
    margin: 20px auto 0;
    width: 940px;
}
.VAEfooterLogo {
    float: left;
    height: 45px;
    margin: 0 0 0 376px;
    width: 180px;
}
#SocialIcons {
    color: #9E9E9E;
    float: right;
    font: 8pt Arial !important;
    height: auto;
    margin: 0 -14px 0 0;
    width: 277px;
}
#SocialTable {
    float: left;
}
.Facebook {
    background: url("/assets/SocialIconSprite-039084e1a92ab22f3fb6f9896a2875d4.png") no-repeat scroll -4px 0 transparent;
    cursor: pointer;
    display: block;
    float: right;
    height: 22px;
    text-indent: -9999px;
    width: 22px;
}
.Facebook:hover {
    background-position: -4px -23px;
}
.Facebook:active {
    background-position: -4px -46px;
}
.Twitter {
    background: url("/assets/SocialIconSprite-039084e1a92ab22f3fb6f9896a2875d4.png") no-repeat scroll -28px 0 transparent;
    cursor: pointer;
    display: block;
    float: right;
    height: 22px;
    text-indent: -9999px;
    width: 22px;
}
.Twitter:hover {
    background-position: -28px -23px;
}
.Twitter:active {
    background-position: -28px -46px;
}
.Youtube {
    background: url("/assets/SocialIconSprite-039084e1a92ab22f3fb6f9896a2875d4.png") no-repeat scroll -52px 0 transparent;
    cursor: pointer;
    display: block;
    float: right;
    height: 22px;
    text-indent: -9999px;
    width: 22px;
}
.Youtube:hover {
    background-position: -52px -23px;
}
.Youtube:active {
    background-position: -52px -46px;
}
.Linked {
    background: url("/assets/SocialIconSprite-039084e1a92ab22f3fb6f9896a2875d4.png") no-repeat scroll -77px 0 transparent;
    cursor: pointer;
    display: block;
    float: right;
    height: 22px;
    text-indent: -9999px;
    width: 22px;
}
.Linked:hover {
    background-position: -77px -23px;
}
.Linked:active {
    background-position: -77px -46px;
}
#nav {
    display: block;
    float: left;
    font: 8pt Tahoma !important;
    list-style: none outside none;
    margin: -1px 0 0 10px;
    padding: 0;
    width: 933px;
}
#nav li {
    float: left;
    margin: 0 0 0 1px;
    padding: 0 9px 0 0;
    position: relative;
}
#nav a {
    color: #9E9E9E;
    display: block;
    line-height: 40px;
    margin: 0 0 -13px;
    padding: 0 12px;
    text-decoration: none;
}
#nav ul li {
    line-height: 8px !important;
    margin: 0 0 3px 2px;
    padding: 4px 46px 4px 22px;
}
#nav ul a {
    line-height: 10px !important;
}
#nav a:hover {
    color: #BA282D;
    cursor: pointer;
}
#nav ul {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    float: left;
    left: -9999px;
    list-style: none outside none;
    margin: 10px 0 0 -9px;
    padding: 7px 0 4px;
    position: absolute;
    width: 270px;
}
#nav ul li {
    float: left;
    height: 9px;
    line-height: 8px;
    width: 198px;
}
#nav ul li:hover {
    background-color: #E9E9E9;
    color: #BA282D;
}
#nav ul a {
    color: #666677;
    white-space: nowrap;
    width: 100% !important;
}
#nav li:hover ul {
    left: 0;
}
#nav li:hover ul a {
    text-decoration: none;
}
.address_block {
    color: #909090;
    font-family: Tahoma;
    font-size: 9pt;
    font-weight: 500;
    line-height: 10pt;
    text-align: center;
}
.footer_image {
    height: 45px;
}
.TextHeader {
    color: #1F1E5A;
    font-size: 21px;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 10px;
}
.opening_header {
    background: none repeat scroll 0 0 white !important;
    border: 1px solid #DCDCDC !important;
    float: left;
    line-height: 21px;
    margin: 0 611px 13px 0;
    padding: 7px 10px;
}
.opening_description {
    background: none repeat scroll 0 0 white;
    border: 1px solid #DCDCDC;
    float: left;
    line-height: 18px;
    padding: 7px 10px;
}
.opening_apply_link, .opening_share_link {
    color: #8F8F8F !important;
    float: left;
    line-height: 14px;
    width: 100%;
}
.opening_apply_link a, .opening_share_link a {
    color: #8F8F8F;
    line-height: 20px;
    text-decoration: none;
}
.opening_apply_link a:hover, .opening_share_link a:hover {
    color: #b71e24;
}
.high_priority {
    float: left;
    line-height: 14px;
    margin: 5px 0;
    width: 100%;
}

#nav li.finalRight ul {
  width: 108px;
}

#nav li.finalRight:hover ul {
  left: -20px;
}


#nav li.finalRight ul li {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
  margin-left: 0;
}

#nav li.finalRight ul li a {
  margin: 0;
  padding: 0;
}


.opening_share_content {
  clear: both;
}

.ui-datepicker-next {
  float: right;
}
