.footer {
  position: relative;
  width: 100%;
  text-align: center;
}

table.resource_index {
  width: 100%;
  border: solid black 2px;
  border-collapse: collapse;
}

.resource_index tr {
  border-top: solid black 1px;
  border-bottom: solid black 1px;
}

.resource_index th, td {
  border: solid black 1px;
}

.resource_index th {
  background: #b8b8b8;
}

.resource_index .even {
  background: #b1b3ed;
}

.new_resource {
  margin: 10px 0;
}

.menu_bar {
  padding: 20px 0;
  width: 100%;
}

.menu_link {
  margin: 0 10px;
  float: left;
}

.questions_container {
  position: relative;
  float:left;
  width: 100%;
}

.questions {
  float: left;
  min-height: 100px;
  border: solid black 1px;
  margin-right: 1%;
}

.questions_origin {
  float: right;
  min-height: 100px;
  border: solid black 1px;
  margin-left: 1%;
}

.width2 {
  width: 48%;
}

.width3 {
  width: 30%;
}

.question_row {
  position: relative;
  cursor: pointer;
  background: #ebebeb;
}

.filter {
  padding: 0 10px;
}

.filter_block {
  width: 100%;
}

.filter_header, .filter_positions, .filter_states, .filter_countries, .filter_all_positions {
  width: 100%;
  text-align: center;
}

.openings_table {
  position: relative;
  width: 70%;
  margin: 50px auto;
}

.openings_header {
  position: relative;
  border-bottom: 2px solid black;
}

.openings_title {
  margin-right: 400px;
  position: relative;
}
.openings_location {
  width: 200px;
  position: absolute;
  top: 0;
  right: 200px;
}

.openings_time_type {
  width: 200px;
  position: absolute;
  top: 0;
  right: 0;
}

.openings_row {
  position: relative;
}

.not_present_notice {
  text-align: center;
  font-style: italic
}

.high_priority {
  color: red;
}

.header_text {
  color: red;
  font-weight: bold;
}

.header_image {
  width: 100%;
  text-align: center;
}

.submission {
  width: 100%;
  border-collapse: collapse;
  border: none;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.submission td {
  border: none;
  padding: 4px;
}

.submission_bio_prompt {
  font-weight: bold;
  text-align: right;
  width: 50%;
}

.submission_answer {
  text-align: left;
  width: 50%;
}

.spacer {
  height: 20px;
}

.submission_prompt {
  text-align: right;
  width: 50%;
}

.med_text_box {
  width: 200px;
  height: 62px;
}

.fullwidth {
  text-align: center;
}

#hidden_where_sourced {
  display: none;
}

.notice {
  color: green;
}

.alert {
  color: red;
}

.separator {
  background-color: black;
}

.submission_answers {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid black;
}

.resource_index th {
  cursor: pointer;
}

.front_page_image {
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: right;
}

.front_page_image img {
  min-width: 100px;
}

.current_tags {
  min-height: 100px;
  width:48%;
  float:left;
  top:0;
  border: 1px solid black;
  padding: 2px;
}

.potential_tags {
  min-height: 100px;
  width:48%;
  float:left;
  top:0;
  border: 1px solid black;
  margin-left: 10px;
  padding: 2px;
}

.tag_editing {
  float:left;
  width: 100%;
}

.float_clear {
  clear: both;
}

.dfr_header {
  border-top: 1px solid black;
  margin-top: 5px;
  padding-top: 5px;
}

.data_content {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0.8;
  background-color: black;
  display: none;
}

.overlay_block {
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 300px;
  background-color: white;
  top: 200px;
}

table.new_hire_requests {
  margin-top: 10px;
  margin-bottom: 50px;
  width: 100%;
  border: 2px solid black;
}